
:host ::ng-deep .p-toolbar {

  background: #3F51B5;
  /* background: var(--blue-700);*/
   border: 1px solid #e0e0e0;
   padding: 0.65rem;
   border-radius: 3px;

}
:host::ng-deep .p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
  border-color: transparent;
  background: var(--indigo-500);
  color: var(--indigo-50);
  font-weight: bold;

}
:host::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
  border-color: transparent;
   color:#3F51B5;
   margin-right: 0.3rem;
   font-weight: bold;
   padding: auto;
   font-size: 1.5rem ;


 }

:host::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
  color:   #3F51B5;
  font: bold;
  padding: auto;
 margin-left: 10px;

}
.container2 {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
 /* padding: 20px;*/
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 1;
  padding: 10px;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
  border-color: transparent;
  background: var(--indigo-500);
  color: var(--indigo-50);
}
.p-panelmenu .p-panelmenu-panel .p-menuitem .p-menuitem-link:focus {
  background: #2196f3;
}
.p-panelmenu {
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.menu-closed .p-panelmenu {
  width: 0;
  overflow: hidden;
}
