<div class="container">

  <p-card header="Editar de Produto ">
    <div class="card">
      <p-tabView>
        <p-tabPanel header="Produto">
          <div class="col-6 md:col-6 lg:col-2 p-fluid">
            <button pButton pRipple type="button" icon="pi pi-sign-in" label="Selecionar"  (click)="selecionarProduto()"
              class="p-button-outlined p-button-lg p-button-danger"></button>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Atributos">
          <div class="grid">
            <div class="col-12">
              <p-table [value]="produtoSku.atributos"  responsiveLayout="stack" selectionMode="single">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 500px">Tipo</th>
                    <th style="width: 500px">Valor</th>

                    <th>Opção</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-atributo let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="atributo">
                    <td>{{ atributo.tipo }}</td>
                    <td>{{ atributo.valor }}</td>
                    <td>
                      <button pButton (click)="remover(rowIndex)" icon="pi pi-minus" pTooltip="Excluir"
                        class="p-button-danger -button-sm -button-sm"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

        </p-tabPanel>
      </p-tabView>
    </div>
  </p-card>
</div>
