<div class="container">

  <p-card header="Editar de Produto ">
    <div class="card">
      <p-tabView>
        <p-tabPanel header="Produto">
          <div class="col-6 md:col-6 lg:col-2 p-fluid">
            <button pButton pRipple type="button" icon="pi pi-sign-in" label="Selecionar"  (click)="selecionarProduto()"
              class="p-button-outlined p-button-lg p-button-danger"></button>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Atributos">
          <div class="grid p-fluid p-formgroup-inline">
            <div class="col-12 md:col-6 lg:col-6 p-fluid">
              <span class="p-float-label">
                <input type="text" id="inptproduto" pInputText required="true" pInputText name="tipo"
                  [(ngModel)]="atributo.tipo" />

                <label for="inptproduto">Tipo</label>
              </span>
            </div>

            <div class="col-12 md:col-6 lg:col-5 p-fluid">
              <span class="p-float-label">
                <input type="text" id="marca" pInputText name="valor" [(ngModel)]="atributo.valor" />

                <label for="marca">Valor</label>
              </span>
            </div>
            <div class="col-12 md:col-6 lg:col-1">
              <button pButton pRipple icon="pi pi-plus" type="button" (click)="addAtributo()" pTooltip="Adicionar atributos"
                class="p-button-success p-button-lg"></button>
            </div>
          <div class="grid">
            <div class="col-12">
              <p-table [value]="produtoSku.atributos"  responsiveLayout="stack" selectionMode="single">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 500px">Tipo</th>
                    <th style="width: 500px">Valor</th>

                    <th>Opção</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-atributo let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="atributo">
                    <td>{{ atributo.tipo }}</td>
                    <td>{{ atributo.valor }}</td>
                    <td>
                      <button pButton (click)="remover(rowIndex)" icon="pi pi-minus" pTooltip="Excluir"
                        class="p-button-danger -button-sm -button-sm"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </p-card>
</div>
