<div class="container">



  <p-card header="Cadastro de Produtos" subheader="Card Subheader">
    <div class="card">
      <p-tabView>
        <p-tabPanel header="Produto">
          <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
            <div class="grid nested-grid">
              <div class="col-8 md:col-6 lg:col-8 p-fluid">
                <div class="grid">
                  <div class="col-12 md:col-6 lg:col-6 p-fluid">
                    <span class="p-float-label">
                      <input type="text" id="produtonome" name="nomeProduto" required="true" pInputText
                        [(ngModel)]="produto.nomeProduto" placeholder="nome produto" #nomeProduto="ngModel" />

                      <label for="produtonome">Nome Produto</label>
                    </span>
                    <app-message [control]="nomeProduto" error="required" text="Informe  Nome do produto"></app-message>
                  </div>
                  <div class="col-12 md:col-6 lg:col-6 p-fluid ">
                    <div class="p-inputgroup">
                      <span class="p-float-label">
                        <input type="text" id="nomeMarca" readonly="true" name="nomeMarca" pInputText
                          [(ngModel)]="marcaProduto.nomeMarca" placeholder="Marca" />


                        <label for="marca">Marca</label>
                      </span>
                      <button pButton pRipple type="button" icon="pi pi-plus" pTooltip="Adicionar Marca"
                        class="p-button-lg  "></button>
                    </div>
                  </div>



                  <div class="col-12 md:col-6 lg:col-2 p-fluid">
                    <span class="p-float-label">
                      <input type="text" id="fabricante" pInputText name="codigofabricante"
                        [(ngModel)]="produto.codigofabricante" />

                      <label for="fabricante">Código Fabricante</label>
                    </span>
                  </div>
                  <div class="col-12 md:col-6 lg:col-3 p-fluid">
                    <span class="p-float-label">
                      <input type="text" id="marca" pInputText name="codigoEan13" [(ngModel)]="produto.codigoEan13"
                        readonly="true" />

                      <label for="marca">Codigo Ean 13</label>
                    </span>
                  </div>
                  <div class="col-12 md:col-6 lg:col-2 p-fluid">
                    <button pButton class="p-button-lg p-button-info p-button-outlined" icon="fa-solid fa-barcode fa-lg"
                      type="button" pTooltip="Gera Ean 13" label="Gerar "> </button>

                  </div>
                  <div class="col-12 md:col-6 lg:col-5 p-fluid">
                    <div class="p-inputgroup">
                      <span class="p-float-label">
                        <input type="text" id="nomeSubgrupo" readonly="true" name="nomeSubgrupo" pInputText
                          [(ngModel)]="subgrupo.nomeSubgrupo" placeholder="subgrupo" />


                        <label for="nomeSubgrupo">Subgrupo</label>
                      </span>
                      <button pButton pRipple type="button" icon="pi pi-plus" tooltipPosition="top"
                        (click)="showSubgrupo()" pTooltip="Adicionar Subgrupo"
                        class="p-button-lg p-button-info"></button>
                    </div>
                  </div>


                  <div class="col-12 md:col-6 lg:col-4 p-fluid">
                    <span class="p-float-label">
                      <p-inputNumber inputId="custo" currency="BRL" mode="currency" name="precocusto" locale="pt-Br"
                        [(ngModel)]="produto.precocusto" [minFractionDigits]="2"></p-inputNumber>
                      <label for="custo"> Preço Custo</label>
                    </span>
                  </div>
                  <div class="col-12 md:col-6 lg:col-4 p-fluid">
                    <span class="p-float-label">
                      <p-inputNumber inputId="custom" currency="BRL" [required]="true" name="customedio" mode="currency"
                        locale="pt-Br" [(ngModel)]="produto.customedio" [minFractionDigits]="2"></p-inputNumber>
                      <label for="custom"> Custo Médio</label>

                    </span>
                  </div>

                  <div class="col-12 md:col-6 lg:col-4 p-fluid ">
                    <span class="p-float-label">
                      <p-inputNumber inputId="preco_venda" currency="BRL" mode="currency" name="precovenda"
                        locale="pt-Br" [(ngModel)]="produto.precovenda" [minFractionDigits]="2"></p-inputNumber>
                      <label for="preco_venda"> Preço de Venda</label>
                    </span>
                  </div>

                </div>


              </div>
              <div class="col-4 md:col-6 lg:col-4 p-fluid">
                <div class="h-full picture" (click)="upLoad()">

                  <span class="picture__image">
                    <img [src]="url" class="picture__img" *ngIf="url" />
                    <span *ngIf="!url" class="centered-text">{{ pictureImageTxt }}</span>
                  </span>

                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-12 p-fluid">
                <input type="text" [(ngModel)]="coresDigitadas" name="coresDigitadas"
                  placeholder="Digite as cores separadas por vírgula">
                <button (click)="adicionarCores()">Adicionar Cores</button>

                <ul>
                  <li *ngFor="let cor of coresArray">{{ cor }}</li>
                </ul>
              </div>

              <div class="col-12 md:col-6 lg:col-12 p-fluid">
                <label for="tipoInput">Digite o tipo:</label>
                <input type="text" [(ngModel)]="novoTipo" name="novoTipo" id="tipoInput" placeholder="Digite o tipo">

                <label for="valorInput">Digite o valor:</label>
                <input type="text" [(ngModel)]="novoValor" name="novoValor" id="valorInput"
                  placeholder="Digite o valor">

                <button type="button" (click)="adicionarLinha()">Adicionar Linha</button>


                <ul>
                  <li *ngFor="let linha of linhasArray">{{ linha }}</li>
                </ul>
              </div>

              <div class="col-6 md:col-6 lg:col-2 p-fluid">
                <button pButton pRipple type="button" icon="pi pi-sign-in" label="Voltar" routerLink="/produtos"
                  class="p-button-outlined p-button-lg p-button-danger"></button>
              </div>
              <div class="col-6 md:col-6 lg:col-2 p-fluid">
                <button pButton pRipple type="submit" [disabled]="!f.valid" class="p-button-lg p-button-success"
                  iconPos="left" icon="pi pi-save" label="Salvar"></button>
              </div>
            </div>
          </form>
        </p-tabPanel>
   <p-tabPanel header="Varições">
    <div class="grid p-fluid p-formgroup-inline">
      <div class="col-12 md:col-6 lg:col-6 p-fluid">
        <span class="p-float-label">
          <input type="text" id="inptproduto" pInputText required="true" pInputText name="tipo"
            [(ngModel)]="atributo.tipo" />

          <label for="inptproduto">Tipo</label>
        </span>
      </div>

      <div class="col-12 md:col-6 lg:col-5 p-fluid">
        <span class="p-float-label">
          <input type="text" id="marca" pInputText name="novoValor" [(ngModel)]="novoValor" />

          <label for="marca">Valor</label>
        </span>
      </div>
      <div class="col-12 md:col-6 lg:col-1">
        <button pButton pRipple icon="pi pi-plus" type="button" (click)="acdiconarAtributo()" pTooltip="Adicionar atributos"
          class="p-button-success p-button-lg"></button>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table [value]=" produto.proutos_skus" dataKey="id" editMode="row" [editable]="true" [tableStyle]="{'min-width': '50rem'}" #tempDataTable>
          <ng-template pTemplate="header">
              <tr>
                  <th style="width:20%">Code</th>
                  <th style="width:20%">Name</th>
                  <th style="width:20%">Inventory Status</th>
                  <th style="width:20%">Price</th>
                  <th style="width:20%"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="product" >
                  <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" readonly="true" [(ngModel)]="product.caracteristica">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{product.caracteristica}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="product.codigoEan13Sku" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{product.codigoEan13Sku}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td>

                    <div class="flex align-items-center justify-content-center gap-2">

                            <button  pButton pRipple  icon="fa-solid fa-barcode fa-lg"  (click)="gerarEan13(product , ri)" pTooltip="gerar" tooltipPosition="top"
                            class="p-button-info p-button-outlined  mr-2 p-button-text"  type="button"></button>
                    </div>

                  </td>
                  <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="product.price">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{product.price | currency: 'USD'}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td>
                      <div class="flex align-items-center justify-content-center gap-2">
                          <button  pButton pRipple type="button"  icon="pi pi-pencil"  class="p-button-rounded p-button-text"></button>
                          <button  pButton pRipple type="button"  icon="pi pi-check"  class="p-button-rounded p-button-text p-button-success mr-2"></button>
                          <button  pButton pRipple type="button"  icon="pi pi-times" (click)="removerLinha(ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                      </div>
                  </td>
              </tr>
          </ng-template>
      </p-table>
      </div>
    </div>
   </p-tabPanel>
      </p-tabView>

    </div>

  </p-card>





</div>
