/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";
body{
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  color:#404C51 ;
}
.col-acoes > a {
  margin-right: 5px;
}
@media screen and (max-width: 810px) {
  .ui-tabs.ui-tabs-top > .ui-tabs-nav li{
      width: 95% !important;
  }

}
.container{

  width: 95%;
  margin: auto;

}
.container2 {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #fafafa;

  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 1;
  padding: 20px;
}

.menu-open {
  margin-left: 0;
}

.menu-closed {
  margin-left: -250px;
}


mponent, .p-component * {
    box-sizing: border-box;
}
.p-toolbar {
   /*order: 0 none;*/
}
.p-toolbar {
  /*  background: #626263;*/
    border: 1px solid #e0e0e0;
    padding: 1rem;
    border-radius: 4px;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

:host::ng-deep .meu_burton{
  background: #5a6268;
  color: #ffffff;
  border-color: #5a6268;

  border: 1px solid #6c757d;
}


:host::ng-deep p-button :enabled:hover{
    background: #5a6268;
    color: #ffffff;
    border-color: #5a6268;
}
:host::ng-deep .p-button.p-button-secondary:enabled:hover, .p-buttonset.p-button-secondary > .p-button:enabled:hover, .p-splitbutton.p-button-secondary > .p-button:enabled:hover {
  background: #5a6268;
  color: #ffffff;
  border-color: #5a6268;
}
